.home-container {
    background-color: #f0f8ff; /* Jasnoniebieski */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  }

  
  h1 {
    color: #007acc; /* Kolor niebieski */
  }
  
  h2 {
    color: #005fa3; /* Ciemniejszy niebieski */
  }
  
  ul {
    list-style-type: none; /* Usunięcie punktów listy */
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  .kolumn{
    width: 256px;
    height: 256px;

  }
  .home-button{
    width: 100%;
  }
 img{
  width: 100%;
 }
 
 .kolumn p {

    font-size: 1.2rem;
    color: #333; /* Kolor tekstu */
    margin: 0;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
  }
  
  .kolumn:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  
  .kolumn img {
    border-radius: 8px;
  }
  
  .kolumn:hover img {
    filter: brightness(0.9);
  }
 

  